.home{
    background-color: white;
    margin: 20px auto;
    width: 350px;
    height: 670px;
    border-radius: 30px;
    padding-top: 10px;
}
Autocomlete{
    height: 30px;
    border: none;
    background-color: aqua;
    background: fixed;
}