.input_box{
    margin: 10px 20px;
    box-shadow: 5px 5px 4px 4px #f0f0f0 ;
    height: 55px;
    width: 300px;
    display: flex;
    padding: 2px;
    border-radius: 10px;
}
.location_icon{
    margin:20px 10px;
    cursor: pointer;
}
.location_icon:hover{
    margin: 5px 5px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #a6d2d7;
}
.input_box > input{
    border: none;
    width: 200px;
}
.input_box > input:active{
    border: none;
}
.input_box >button{
    border: none;
    background: white;

}
.input_box> button:hover{
    border: none;
    border-radius: 40px;
    width: 75px;
    color: white;
    background-color: #a6d2d7;
}