.Weekly_field{
    height: 100px;   
    margin:20px 20px 5px 20px;
    display: flex;
    font-size: 14px;
}
.Weekly_field_box{
    width: 15%;
    text-align: center;
}
.Weekly_field_box:hover{
    border:1.5px solid #3da9e9;
    border-radius: 5px;
}
.Weekly_field_img{
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 400px) {
    body{
        background-color: chocolate;
    }
    .Weekly_field{
        font-size: 12px;
    }
  }
  